<div class="footer">
  <div class="col1">
    <div class="title">Garden.IO</div>

    <div class="desc">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia labore
      deleniti eaque optio sint a nesciunt libero excepturi vitae consequuntur
      consectetur, est qui porro nisi tenetur facere delectus totam? Sapiente?
    </div>

    <div class="socials">
      <a href="#" class="fa fa-telegram"></a>
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-instagram"></a>
    </div>
  </div>

  <div class="col2">
    <div class="links">
      <h4>Useful Links</h4>
      <a href="#" class="tags">> About us</a>
      <a href="#" class="tags">> How do we work</a>
      <a href="#" class="tags">> Terms and Conditions</a>
      <a href="#" class="tags">> FAQ</a>
    </div>
    <div class="links">
        <h4>Content</h4>
        <a href="#" class="tags">> Home</a>
        <a href="#" class="tags">> Products</a>
        <a href="#" class="tags">> Reviews</a>
        <a href="#" class="tags">> Cart</a>
      </div>
      <div class="links">
        <h4>Contact US</h4>
        <a href="#" class="tags">> {{"awj5899@gmail.com"}}</a>
        <a href="#" class="tags">> 418 896 0000</a>
        <a href="#" class="tags">> Social Media</a>
        <a href="#" class="tags">> Learn More</a>
      </div>
  </div>
</div>
