<div class="fullAbout">
    <div class="aboutHeader">
        <div class="e1">About Us</div>
        <div class="e2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, commodi molestiae. Eaque aperiam harum, est consectetur optio tempora molestias.
        </div>
    </div>
    <div class="aboutVideo">
        <iframe  src="https://www.youtube.com/embed/xFqecEtdGZ0?si=BFCQGjQUma52gh3Z" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen>
        </iframe>
    </div>
</div>
