<app-nav-bar (navigate)="handleNavigation($event)"></app-nav-bar>
<!-- <router-outlet></router-outlet> -->




<!-- <div id="home" #home><app-home></app-home></div>
<div id="about" #about><app-about></app-about></div>
<div id="products" #products><app-products></app-products> -->
    <div id="home" #home><app-home></app-home></div>
    <div id="about" #about><app-about></app-about></div>
    <div id="products" #products><app-products></app-products></div>
    <div id="reviews" #reviews><app-reviews-section></app-reviews-section></div>
    <div id="contact" #contact><app-footer></app-footer> </div>

<!-- <app-home></app-home>

<app-about ></app-about>

<app-products></app-products> -->

<!-- <app-reviews-section></app-reviews-section>

<app-footer></app-footer>  -->

<!-- <router-outlet></router-outlet> -->