<div class="fullReviews">


    <div class="content">

        <div class="titleReview">
            What Our Customers Say !!
        </div>
        <div class="reviews">
            <ul >
                <app-review-widget *ngFor="let i of [0,0,0,0,0]"></app-review-widget>
                <!-- <app-review-widget></app-review-widget>
                <app-review-widget></app-review-widget>
                <app-review-widget></app-review-widget> -->
    
            </ul>
        </div>
        
    </div>

</div>

