<div class="fullHome">
    <div class="home">
    
        <div class="bigHeader">
            <h1>Shop Healthy Fruit And </h1>
            <h1>Vegetables Like Never Before!</h1>
        </div>
        <br>
        <h6>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h6>
        <h6>Conque diam nullam massa odia ac. </h6>
    
        <br>
        <br>
    
        <div class="buttonsRow">
            <app-button [text]="'Shop Now'" [backgroundColor]="'white'" [textColor]="'var(--light-green)'"></app-button>
            <app-button [text]="'Learn More'"></app-button>
        </div>
    
    </div>
    
    <app-floating-icon [bottom]="'0px'" [left]="'4%'" [icon]="'cart'"></app-floating-icon>

    <app-floating-icon [bottom]="'0px'" [right]="'4%'" [icon]="'basket'"></app-floating-icon>

</div>